div.Mainbody {
    text-align: center;
  }
  .box {
    animation-name: bounce;
    animation-duration: 4s; /* or: Xms */
    animation-iteration-count: 10;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 2s; /* or: Xms */
   }
  #Mainid{
    padding-right: 30;
    padding-left: 30;
  }